
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~

.kube-config
config.yaml
ubuntu-bionic-18.04-cloudimg-console.log
.vagrant/