apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: sumologic-kubernetes-collection-helm-operator
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: sumologic-kubernetes-collection-helm-operator
  name: helm-operator
  namespace: system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: sumologic-kubernetes-collection-helm-operator
  template:
    metadata:
      labels:
        control-plane: sumologic-kubernetes-collection-helm-operator
    spec:
      containers:
      - args:
        - --leader-elect
        - --leader-election-id=sumologic-kubernetes-collection-helm-operator
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: sumologic-kubernetes-collection-helm-operator
        - name: RELATED_IMAGE_AUTOINSTRUMENTATION_DOTNET
          value: registry.connect.redhat.com/sumologic/autoinstrumentation-dotnet@sha256:f4f385c4489c74b5c43f2fe6b6620a9eb8d9ecab470567236b3c45f636106640
        - name: RELATED_IMAGE_AUTOINSTRUMENTATION_JAVA
          value: registry.connect.redhat.com/sumologic/autoinstrumentation-java@sha256:757841fb1cf34b5dd687f93200badcaf7f2e923b9752e8ebcc7dc97d30e23bf4
        - name: RELATED_IMAGE_AUTOINSTRUMENTATION_NODEJS
          value: registry.connect.redhat.com/sumologic/autoinstrumentation-nodejs@sha256:c206eef4fdecaa58b4f01e5e7f0dbd74e9606eab2b4debf47461d36191e248d1
        - name: RELATED_IMAGE_AUTOINSTRUMENTATION_PYTHON
          value: registry.connect.redhat.com/sumologic/autoinstrumentation-python@sha256:f0fa45fa45e64c7df88f21181ae18ee96fe83cd3988258663d0806ea6f39e6bb
        - name: RELATED_IMAGE_BUSYBOX
          value: registry.connect.redhat.com/sumologic/busybox@sha256:209bc8e0b1d958fc699f3bb75b1248544e372ad35cdc46c991bd1698f641e1f9
        - name: RELATED_IMAGE_KUBE_RBAC_PROXY
          value: registry.connect.redhat.com/sumologic/kube-rbac-proxy@sha256:e1f49fcf5b7e86d9eb49c16dbbf9484cb486f55f999fd51d7c738c3b1f2666cf
        - name: RELATED_IMAGE_KUBE_STATE_METRICS
          value: registry.connect.redhat.com/sumologic/kube-state-metrics@sha256:3551ededa327a35db798ec8286cd843580e3ae395d2231e041e8c4b7621127ee
        - name: RELATED_IMAGE_KUBERNETES_SETUP
          value: registry.connect.redhat.com/sumologic/kubernetes-setup@sha256:f07eaf68fa11ffc708e4485a83bd3763fc5712f7d73d29edfe5b9c9e08f05df6
        - name: RELATED_IMAGE_KUBERNETES_TOOLS_KUBECTL
          value: registry.connect.redhat.com/sumologic/kubernetes-tools-kubectl@sha256:319cddcd7fafa8413642cb10392996fb7d039a80859930e68897452655dc14c9
        - name: RELATED_IMAGE_METRICS_SERVER
          value: registry.connect.redhat.com/sumologic/metrics-server@sha256:65d2a3ddc4b4183f438fa18b655079c93c905cb9e3b8c54977336205dc1fff07
        - name: RELATED_IMAGE_NGINX_UNPRIVILEGED
          value: registry.connect.redhat.com/sumologic/nginx-unprivileged@sha256:7260555d16c94c4fe1e016626b4cb8a5c0de6b700e2eea28744331fb298f71ae
        - name: RELATED_IMAGE_NODE_EXPORTER
          value: registry.connect.redhat.com/sumologic/node-exporter:1.8.2-ubi
        - name: RELATED_IMAGE_OPENTELEMETRY_OPERATOR
          value: registry.connect.redhat.com/sumologic/opentelemetry-operator@sha256:6b765afacf7fe2dfbb47c1319a64bf7cde11bdae9e3228c21603cdde42bf3182
        - name: RELATED_IMAGE_PROMETHEUS_CONFIG_RELOADER
          value: registry.connect.redhat.com/sumologic/prometheus-config-reloader@sha256:0b605d36782afd8f50fd631d0e9c7b19d39ce962af89b7a737b2f09a8ceff291
        - name: RELATED_IMAGE_PROMETHEUS_OPERATOR
          value: registry.connect.redhat.com/sumologic/prometheus-operator@sha256:58a329e6582456b32abebb470086191f8366b927af4703741613993465f116b8
        - name: RELATED_IMAGE_PROMETHEUS
          value: registry.connect.redhat.com/sumologic/prometheus@sha256:0ef6eaf570a40499dd5de92a79593e950bc771b014e0ee6ff7419b4b82a36fcc
        - name: RELATED_IMAGE_SUMOLOGIC_OTEL_COLLECTOR
          value: registry.connect.redhat.com/sumologic/sumologic-otel-collector@sha256:5b9f01f2eafe3b33d60f5100b96a1d9a36b7519f7048186cccb6ce07562ae168
        - name: RELATED_IMAGE_TAILING_SIDECAR_OPERATOR
          value: registry.connect.redhat.com/sumologic/tailing-sidecar-operator@sha256:4628d97510d09bb6b976b5e5806adb8b37ab0b474547bd67057f8199c89fc635
        - name: RELATED_IMAGE_TAILING_SIDECAR
          value: registry.connect.redhat.com/sumologic/tailing-sidecar@sha256:19236b3cfa7a977fa17976271296da2aabf8d93fd9850fd53d46fa33b605be10
        - name: RELATED_IMAGE_TELEGRAF_OPERATOR
          value: registry.connect.redhat.com/sumologic/telegraf-operator@sha256:ff958222be01c0c3966474463e43bbd5bcf348790dd34bb761718cb1cea2d793
        - name: RELATED_IMAGE_TELEGRAF
          value: registry.connect.redhat.com/sumologic/telegraf@sha256:75efd2e509c6017ea0fc5c9103ce068cbc89087b16506a4ef48cb5ff00eab84e
        - name: RELATED_IMAGE_THANOS
          value: registry.connect.redhat.com/sumologic/thanos@sha256:16faf7191668e86d8b576bba055dd0cbdeb009635976b9e07bd00f926032f11c
        image: controller
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: operator
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 2000m
            memory: 2Gi
          requests:
            cpu: 500m
            memory: 100Mi
        securityContext:
          allowPrivilegeEscalation: false
      securityContext:
        runAsNonRoot: true
      serviceAccountName: helm-operator
      terminationGracePeriodSeconds: 10
